<div class="flex">
  <div id=<%= "actions_#{session.dig("user_info", "id")}" %> class="flex">
    <%= button_to '結束遊戲',
        end_game_frontend_game_path(game.uuid),
        class: 'button bg-red-600 text-background hover:opacity-80',
        data: { turbo_method: :post } %>
    <%= link_to '返回首頁',
      root_path,
      class: 'button bg-white text-background hover:opacity-80',
      data: { turbo_method: :get },
      remote: true if Rails.env.development? %>
    <%= button_to '加入 AI',
      add_ai_players_frontend_game_path(game.uuid),
      class: 'button bg-green-600 text-background hover:opacity-80',
      data: { turbo_method: :post } if game.state.in? %w[initializing] %>
    <%= button_to '+ 1',
      plus_one_frontend_v1_game_path(game),
      class: 'button bg-zinc-600 text-background hover:opacity-80'  %>
    <div class="flex items-center">
      <% current_player&.card_instances&.each do |card| %>
        <%= button_to "#{card.numbers}", play_card_frontend_game_path(game.uuid, card: card.id), turbo_method: :post, class: 'button w-12 bg-white text-background' %>
      <% end %>
      <% if current_player&.is_out? %>
        <p class="text-red-500">你已經出局</p>
      <% elsif game.ready? && game.current_player_id == current_player.id %>
        <p class="text-blue-500 animate-bounce">輪到你了</p>
      <% else %>
        <p class="text-red-500">waiting</p>
      <% end %>
    </div>
  </div>
</div>
