<% game = @game %>
<% current_player = @current_player %>
<%= turbo_stream_from dom_id(game) %>
<div>
  <%= render 'room_info', game: %>
  <section class="card-mono">
    <header class="p-2 text-secondary">MY STATUS</header>
    <div class="p-2 text-primary text-2xl">
      <p>Nickname: <span class="text-pink-500"><%= session.dig("user_info", "nickname") %></span></p>
      <p>ID: <span class="text-pink-500"><%= current_player_id %></span></p>
      <%= render 'self_status', cucumbers: current_player.cucumbers %>
    </div>
  </section>
  <section class="card-mono">
    <header class="p-2 text-secondary">ACTIONS</header>
    <%= render 'actions', game:, current_player: %>
  </section>
  <section class="card-mono">
    <header class="p-2 text-secondary">GAME STATE</header>
    <%= render 'game_state', game: %>
  </section>
  <% if Rails.env.development? %>
    <%= render 'game_redis_logs', game:, redis_logs: Utils::Redis.logs(game.uuid) %>
  <% end %>
  <div class="p-2 bg-slate-800 text-yellow-300">
    <div>
      This game is currently in development.
      You can check the <%= link_to 'repo', 'https://github.com/noracami/five-cucumbers', target: '_blank', class: 'text-blue-500 underline' %> for the latest updates.
    </div>
    <div>
      <a href="https://www.flaticon.com/free-icons/cucumber" title="cucumber icons" target="_blank" class="underline">Cucumber icons created by kerismaker - Flaticon</a>
    </div>
  </div>
</div>
